<% if flash[:notice].present? %>
<p><%= flash[:notice] %></p>
<% end %>
<br>
<%= link_to "Admin welcome page", admin_posts_url %>
<%= link_to "Edit post", edit_admin_post_url(@post) %>
<br>
<br>
Published: <%= @post.is_published? %>
<h1><%= @post.title %></h1>
<%= simple_format @post.content %>